@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  color: #131313;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  font-family: "Montserrat", "Seymour One", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  font-family: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
}

@media screen and (max-width: 479px) {
  .container {
    max-width: 479px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media screen and (max-width: 767px) {
  .header__button {
    display: none;
  }
  .hero-amount__menu {
    display: none;
  }
  .header__button {
    display: none;
  }
  .content-wrapper {
    display: none;
  }
  .header-nav {
    display: none;
  }
  .header {
    background-color: #84A178;
  }
  .header__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .header__logo {
    background-color: tomato;
  }
  .logo {
    width: 40px;
    height: 37px;
  }
  .burger-icon {
    width: 32px;
    height: 32px;
  }
  .hero {
    background-color: #84A178;
  }
  .hero__title {
    width: 247px;
    font-family: "Seymour One";
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 33px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FCFCFC;
    margin-bottom: 32px;
  }
  .hero__button-wrapper {
    display: flex;
    gap: 8px;
  }
}
@media screen and (min-width: 768px) {
  .header-nav__menu {
    display: none;
  }
  .header {
    background-color: #84A178;
  }
  .header__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .header__logo {
    background-color: tomato;
  }
  .logo {
    width: 48px;
    height: 44px;
  }
  .button {
    width: 12px;
    height: 12px;
  }
  .header__burger-wrapper {
    display: flex;
    gap: 32px;
  }
  .header__burger {
    background-color: tomato;
  }
  .burger-icon {
    width: 32px;
    height: 32px;
  }
  .hero {
    background-color: #84A178;
    position: relative;
  }
  .hero__title {
    font-family: "Seymour One";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    color: #FCFCFC;
    width: 181px;
  }
  .hero__title_big {
    font-family: "Seymour One";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 13px;
    text-transform: uppercase;
    color: #FCFCFC;
  }
  .hero-amount__menu {
    position: absolute;
    top: 0;
    right: 32px;
  }
  .hero-amount__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #131313;
  }
  .hero-amount__text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    color: #FCFCFC;
  }
  .content-wrapper {
    display: flex;
    align-items: center;
  }
  .content-wrapper__image {
    width: 152px;
    height: 152px;
  }
  .content-wrapper__text {
    width: 151px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #FCFCFC;
  }
}
@media screen and (min-width: 1200px) {
  .header__burger {
    display: none;
  }
  .header__logo {
    margin-bottom: 45px;
  }
  .logo {
    width: 60px;
    height: 65px;
  }
  .header-nav__menu {
    display: flex;
    gap: 27px;
  }
  .header-nav__item {
    padding-top: 40px;
  }
  .header-nav__link {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FCFCFC;
  }
  .header-nav__link:hover, .header-nav__link:focus {
    color: #F8D24E;
  }
  .hero {
    position: relative;
  }
  .hero__title {
    font-family: "Seymour One";
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FCFCFC;
    width: 367px;
    margin-bottom: 28px;
  }
  .hero__title_big {
    font-family: "Seymour One";
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FCFCFC;
  }
  .hero__button-wrapper {
    display: flex;
    gap: 12px;
  }
  .hero-amount__menu {
    position: absolute;
    top: 0;
    right: 16px;
  }
  .content-wrapper__text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FCFCFC;
    width: 200px;
  }
}
.list {
  list-style: none;
}

@media screen and (max-width: 767px) {
  .products {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #F5F5F5;
    background-image: url("../images/produkt-bg@2x-mobile.png");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .products {
    background-image: url("../images/produkt-bg-mobile.png");
  }
}
.products__container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.products__suptitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #131313;
  margin-bottom: 12px;
}

.products__title {
  font-family: "Seymour One";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .products {
    padding-top: 60px;
    padding-bottom: 82px;
    background-image: url("../images/produkt-bg-tablet.png");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .products {
    background-image: url("../images/produkt-bg@2x-tablet.png");
  }
}
.products__container {
  /*width: 704px;*/
  padding-left: 32px;
  padding-right: 32px;
}

.products__suptitle {
  font-size: 22px;
  line-height: 27px;
}

.products__title {
  font-size: 34px;
  line-height: 43px;
}

@media screen and (min-width: 1200px) {
  .products {
    padding-top: 60px;
    padding-bottom: 82px;
    background-image: url("../images/produkt-bg-desktop.png");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .products {
    background-image: url("../images/produkt-bg@2x-desktop.png");
  }
}
.products {
  padding-bottom: 60px;
}

.products__container {
  /*width: 1174px;*/
  padding-left: 13px;
  padding-right: 13px;
}

.products__suptitle {
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.04em;
}

.products__title {
  font-size: 36px;
  line-height: 45px;
  letter-spacing: 0.06em;
}/*# sourceMappingURL=index.css.map */