<div class="advantage">
                <ul class="advantage-list">
                  <li class="advantage-list-item">
                    <div class="advantage-item"><svg aria-label="icon cow" class="advantage-list-icon">
                        <use href="./sprite.svg#icon-cow"></use>
                      </svg>
                    </div>
                     <h3 class="name-container">721</h3>
                <p class="advantage-discribe" lang="en">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                  </li>
                  <li class="advantage-list-item">
                    <div class="advantage-item">
                       <svg aria-label="icon weight" class="advantage-list-icon">
                        <use href="./sprite.svg#icon-weight"></use>
                      </svg>   
                      </div>
                      <h3 class="name-container">16kg</h3>
                <p class="advantage-discribe" lang="en">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>                 
                  </li>
                  <li class="advantage-list-item">
                    <div class="advantage-item">
                       <svg aria-label="icon ice-crema" class="advantage-list-icon">
                        <use href="./sprite.svg#icon-ice-crema"></use>
                      </svg></div>
                      <h3 class="name-container">84</h3>
                <p class="advantage-discribe" lang="en">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                  </li>
                  </ul>

