<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <a class="header__logo" href="./index.html">
                <svg class="logo">
                    <use href="#"></use>
                </svg>
            </a>
            <nav class="header-nav">
                <ul class="header-nav__menu">
                    <li class="header-nav__item">
                     <a href="" class="header-nav__link">Home</a>
                    </li>
                    <li class="header-nav__item">
                        <a href="" class="header-nav__link">How it’s made?</a>
                    </li>
                    <li class="header-nav__item">
                        <a href="" class="header-nav__link">Our products</a>
                    </li>
                    <li class="header-nav__item">
                        <a href="" class="header-nav__link">Contact</a>
                    </li>
                </ul>
            </nav>
            <div class="header__burger-wrapper">
                <button class="header__burger" type="button">
                    <svg class="burger-icon">
                        <use></use>
                    </svg>
                </button>
                <button class="header__button" type="button">Buy now
                    <svg class="button">
                        <use></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</header>
<section class="hero">
    <div class="container">
        <h1 class="hero__title">ice cream made with <span class="hero__title_big">passion</span></h1>
        <div class="hero__button-wrapper">
            <button type="button" class="hero__button">Products</button>
            <button type="button" class="hero__button">How it’s made?</button>
        </div>
        <ul class="hero-amount__menu">
            <li class="hero-amount__item">
                <p class="hero-amount__title">16</p>
                <p class="hero-amount__text">cafes</p>
            </li>
            <li class="hero-amount__item">
                <p class="hero-amount__title">23</p>
                <p class="hero-amount__text">food trucks</p>
            </li>
        </ul>
        <img src="#" alt="ice-cream" class="hero__ice">
        <img src="#" alt="bubbles" class="hero__bubbles">
        <div class="content-wrapper">
            <img class="content-wrapper__image" src="#" alt="ice-cream on the plate">
            <p class="content-wrapper__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        </div>
    </div>
</section>