<section class="section products" id="products">
  <div class="container products__container">
    <p class="products__suptitle">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list list">
      <li class="products__item">
        <img class="products__img" src="./images/" alt="ice cream" />
        <div class="products__content">
          <h3 class="products__article">ice cream</h3>
          <p class="products__text">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
          <button type="button" class="products__modal-btn"></button>
        </div>
      </li>
      <li class="products__item">
        <img class="products__img" src="./images/" alt="ice coffee" />
        <div class="products__content">
          <h3 class="products__article">ice coffee</h3>
          <p class="products__text">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
          <button type="button" class="products__modal-btn"></button>
        </div>
      </li>
      <li class="products__item">
        <img class="products__img" src="./images/" alt="milkshakes" />
        <div class="products__content">
          <h3 class="products__article">milkshakes</h3>
          <p class="products__text">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
          <button type="button" class="products__modal-btn"></button>
        </div>
      </li>
    </ul>
  </div>
</section>
