.advantage{
    width: 100%;
    background-color: #84A178;
    list-style: none;
}
.advantage-list {
   display: flex;
   flex-direction: column;
   @media screen and (min-width: 480px) {
       flex-direction: row;
       
    }
}
.advantage-list-item {
    display: flex;
    flex-direction: column;
     justify-content: center;
    align-items: center;
    @media screen and (min-width: 480px) {
      width: calc((100% - 152px)/2);
}
@media screen and (min-width: 768px) {
      width: calc((100% - 32px)/2);
}
}
.advantage-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
height: 50px;
background-color: #F8D24E;
border-radius: 25px;

}


.advantage-list-icon {
  width: 36px;
  height: 36px;
  background-color: #f8d24e;
  border-radius: 25px;
  fill: black;
  }
.name-container {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
  margin-top: 16px;
  margin-bottom: 18px;
   @media screen and (min-width: 768px) {
    text-transform: none;
    font-size: 48px;
    line-height: 59px;
    margin-top: 32px;
    margin-bottom: 16px;}
    @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 71px;
    margin-top: 40px;
}
}
.advantage-discribe {
width:100%;
font-weight: 700;
font-size: 12px;
line-height: 170%;
text-align: center;
color: #FCFCFC;

margin-bottom: 25px;
margin-bottom: (last-childe) 60px;

    @media screen and (min-width: 320px) {
    max-width: 230px;}
    @media screen and (min-width: 768px) {
    font-weight: 400;
    max-width: 152px;
    font-size: 14px;
    line-height: 174%;
    letter-spacing: 0.02em;}
    @media screen and (min-width: 1200px) {
    padding: 0 20px;
    max-width: 368px;
    font-weight: 400;
    font-size: 16px;
    line-height: 176%;
}
}