.list {
    list-style: none;
}

.products {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f5f5f5;
    background-image: url('../images/produсt-bg-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .products {
        background-image: url('../images/produсt-bg@2x-mobile.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.products__suptitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    text-transform: uppercase;
    color: #131313;
    margin-bottom: 12px;
}

.products__title {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.26;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #131313;
    margin-bottom: 148px;
}

.products__list {
    li:not(:last-child) {
        margin-bottom: 164px;
    }
}

@media screen and (min-width: 768px) {
    .products {
        padding-top: 60px;
        padding-bottom: 82px;
        background-image: url('../images/bg-product.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .products__title {
        font-size: 34px;
        line-height: 1.2;
        margin-bottom: 200px;
    }

    .products__suptitle {
        font-size: 22px;
        line-height: 1.2;
    }

    .products__container {
        padding: 0 31px;
    }

    .products__title {
        margin-bottom: 200px;
    }

    .products__list {
        display: flex;
        justify-content: space-between;

        li:not(:last-child) {
            margin-bottom: 0;
        }
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .products {
        background-image: url('../images/bg-product@2x.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .products__suptitle {
        font-size: 30px;
        line-height: 1.2;
        letter-spacing: 0.04em;
    }
}

@media screen and (min-width: 1200px) {
    .products {
        padding-top: 60px;
        padding-bottom: 82px;
        background-image: url('../images/bg-product.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .products__title {
        font-size: 45px;
        line-height: 1.25;
        margin-bottom: 300px;
    }

    .products__suptitle {
        font-size: 30px;
        line-height: 1.2;
        letter-spacing: 0.04em;
    }

    .products__container {
        padding: 0 13px;
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .products {
        background-image: url('../images/bg-product@2x.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}